{% extends 'searchr_app/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}



{% block title_block %}
    Add Phrase
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
        <h1 class="jumbotron-heading text-center">Add a Phrase</h1>
        </div>
    </div>

    <div class="container" style="background-color: #e4e7eb;">
        <div class="row">
            <div class="col-md-12 border border-dark rounded p-3">
                <form role="form" id="category_form" method="post" action="{% url 'searchr_app:add_phrase' %}">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form|as_crispy_errors }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8 mb-0">
                            {{ form.value|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8 mb-0">
                            {{ form.language|as_crispy_field }}
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" name="submit">Add Phrase</button>
                 </form>
            </div>
        </div>
    </div>
{% endblock %}
