{% extends 'searchr_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if keyword %}
        {{ keyword.keyword }}
    {% else  %}
        Unknown Keyword
    {% endif %}
{% endblock %}

{% block body_block %}

    <div class="jumbotron p-4">
        <div class="container">
            {% if keyword %}
            <h1 class="jumbotron-heading p-1">{{ keyword.keyword }}</h1>
            <h4 class="jumbotron-heading p-2">Last search performed: {{ keyword.date_last_searched }}.</h4>
            {% endif %}
        </div>
    </div>

    {% if keyword %}
        {% if user.is_authenticated %}
        <form role="form-inline" id="keyword_search" method="post" action="{% url 'searchr_app:show_keyword' keyword.slug %}">
                {% csrf_token %}
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        {% endif %}


        {% if search_res %}

            <ul>
                {% for res in search_res %}

                    <li><a href="{{ res.url }}">{{ res.search_result_title }}</a> </li>
                    {% if res.views > 1 %}
                    <p>{{ res.views }} views.</p>
                {% else %}
                        <p>{{ res.views }} views.</p>
                {% endif %}

                {% endfor %}
            </ul>
        {% else %}
            <strong>No Search Results found for specified keyword.</strong>

        {% endif %}

    {% else %}

        The specified keyword does not exist!
    {% endif %}
{% endblock %}