{% extends 'searchr_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if project %}
        {{ project.title }}
    {% else  %}
        Unknown Project
    {% endif %}
{% endblock %}

{% block body_block %}
        <div class="jumbotron p-4">
            <div class="container">
            {% if project %}
                <nav aria-label="breadcrumb p-1">
                    <ol class="breadcrumb p-lg-0">
                        <li class="breadcrumb-item"><a href="{% url 'searchr_app:home' %}">Home</a> </li>
                        <li class="breadcrumb-item active"><a href="#">{{ project.title }}</a></li>
                    </ol>
                </nav>
            <h1 class="jumbotron-heading p-1 text-center">Title: {{ project.title }}</h1>
            <h4 class="jumbotron-heading p-1 text-right">Author: {{ project.user.first_name }} {{ project.user.last_name }}</h4>
            {% else%}
                <h1 class="jumbotron-heading p-1 text-center">Unknown project</h1>
            {% endif %}
            </div>
        </div>
    <div class="jumbotron p-1" style="background-color: ghostwhite;">
        <div class="container">
            <div class="row">
                <h3 class="jumbotron-heading p-1 text-center">
                    Defined Weights:
                </h3>
                <table class="table table-info table-bordered">
                    <thead >
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Header</th>
                            <th scope="col">Main</th>
                            <th scope="col">Footer</th>
                            <th scope="col">Link</th>
                            <th scope="col">Meta</th>
                            <th scope="col">Other</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ tags.Title }}</td>
                            <td>{{ tags.Header }}</td>
                            <td>{{ tags.Main }}</td>
                            <td>{{ tags.Footer }}</td>
                            <td>{{ tags.Link }}</td>
                            <td>{{ tags.Meta }}</td>
                            <td>{{ tags.Other }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="jumbotron p-1" style="background-color: lightsteelblue">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-body">
                    {% if project and project.phrase_set.all %}
                        <h1 class="modal-header">Defined search phrases:</h1>
                        {% for phrase in project.phrase_set.all %}

                            <li class="list-group p-0">
                                <div class="list-group-item card p-0" style="background-color: aliceblue">
                                    <p class="card-header p-1 pl-4">
                                        <strong>{{ phrase.value }}</strong>
                                    </p>
                                    <p class="card-body p-0 pl-4">
                                        Language: <strong>{{ phrase.get_language_display|escape}}</strong>
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        <h1 class="card-header">No defined search phrases.</h1>
                    {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <div>
                            {% if project %}

                                {% if searches %}
                                    <h1 class="modal-header">Searches:</h1>

                                    <ul>
                                        {% for search in searches %}
                                            <li class="list-group p-0">
                                                <div class="list-group-item card p-0" style="background-color: aliceblue">

                                                    <p class="card-header p-1 pl-4">
                                                        <a class="card-link active" href="{% url 'searchr_app:show_search' user.username project.slug search.slug %}">{{ search.title }}</a>
                                                    </p>
                                                    <p class="card-body p-0 pl-4">
                                                        Date created: {{ search.date_created }}
                                                    </p>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p class="justify-content-lg-start text-center">
                                        No Searches defined for project: <strong> {{ project.title }}.</strong>
                                    </p>
                                {% endif %}

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container">
            {% if user.is_authenticated and user == project.user %}
                <a class="btn btn-primary" href="{% url 'searchr_app:new_search' project.id %}">Create new Search</a>
            {% endif %}
        </div>
    </div>

{% endblock %}