{% extends 'searchr_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if project %}
        {{ project.title }}
    {% else  %}
        Unknown Project
    {% endif %}
{% endblock %}

{% block body_block %}
        <div class="jumbotron p-4">
            <div class="container">
            {% if project %}
                <nav aria-label="breadcrumb p-1">
                    <ol class="breadcrumb p-lg-0">
                        <li class="breadcrumb-item"><a href="{% url 'searchr_app:home' %}">Home</a> </li>
                        <li class="breadcrumb-item active"><a href="#">{{ project.title }}</a></li>
                    </ol>
                </nav>
            <h1 class="jumbotron-heading p-1 text-center">Title: {{ project.title }}</h1>
            <h4 class="jumbotron-heading p-1 text-right">Author: {{ project.user.first_name }} {{ project.user.last_name }}</h4>
            {% else%}
                <h1 class="jumbotron-heading p-1 text-center">Unknown project</h1>
            {% endif %}
            </div>
        </div>
    <div class="jumbotron p-1" style="background-color: lightsteelblue">
        <div class="container">
            {% if project and project.phrase_set.all %}
                <h1 class="modal-header">Defined search phrases:</h1>
                    {% for phrase in project.phrase_set.all %}

                        <li class="list-group p-0">
                                <div class="list-group-item card p-0" style="background-color: aliceblue">
                                    <p class="card-header p-1 pl-4">
                                        {{ phrase }}
                                    </p>
                                    <p class="card-body p-0 pl-4">
                                        Language: <strong>{{ phrase.get_language_display|escape}}</strong>
                                    </p>
                                </div>
                            </li>
                    {% endfor %}
            {% else %}
                <h1 class="card-header">No defined search phrases.</h1>
            {% endif %}
        </div>
    </div>
        <div>
            {% if project %}

                {% if searches %}

                    <ul>
                        {% for search in searches %}
                            <li class="list-group">
                                <div class="list-group-item card">
                                    <p class="card-header">
                                        <a class="card-link active" href="{% url 'searchr_app:show_search' user.username project.slug search.slug %}">{{ search.title }}</a>
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="justify-content-lg-start text-center">
                        No Searches defined for project: <strong> {{ project.title }}.</strong>
                    </p>
                {% endif %}
                {% if user.is_authenticated and user == project.user %}
                <a class="btn btn-primary" href="{% url 'searchr_app:new_search' project.id %}">New Search</a>
                {% endif %}
            {% endif %}
        </div>
{% endblock %}