{% extends 'searchr_app/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block meta_block %}
    {% if search.status == 'running' %}

        <meta http-equiv="refresh" content="10">
    {% endif %}
{% endblock %}

{% block title_block %}
    {% if search and user.is_authenticated %}
        {{ search.title }}
    {% else %}
        Unknown Search
    {% endif %}
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            {% if search and user.is_authenticated %}
                <nav aria-label="breadcrumb p-1">
                    <ol class="breadcrumb p-lg-0">
                        <li class="breadcrumb-item"><a href="{% url 'searchr_app:home' %}">Home</a> </li>
                        <li class="breadcrumb-item"><a href="{% url 'searchr_app:show_project' project.user.username project.slug %}">{{ project.title }}</a></li>
                        <li class="breadcrumb-item active"><a href="#">{{ search.title }}</a> </li>
                    </ol>
                </nav>
                <h1 class="jumbotron-heading text-center">Title: {{ search.title|safe }}</h1>
                <h5 class="jumbotron-content text-left float-right">Status: {{ search.status|capfirst}}</h5>
                <h5 class="jumbotron-content text-left">Created: {{ search.date_created}}</h5>
                <hr class="my-4">
                <p>That page presents created <strong>Search</strong> object with listed search results object found.</p>
            {% else %}
                <h1 class="jumbotron-heading">Specified Search does not exist or you are not logged in.</h1>
            {% endif %}
        </div>
    </div>
    {% if message %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if search %}
        <div class="container p-2" style="max-width: 100%">
            <div class=" row">
                <div class=" col-md-6 card border border-info rounded">
                    <h3 class="jumbotron-heading text-center">Defined Search Parameters: </h3>

                    <dl class="row p-0 card-text">

                        <dt class="col-sm-4 p-1">Exact Query</dt>
                        <dl class="col-sm-8 p-1">{{ attributes.query | safe}}</dl>

                        <dt class="col-sm-4 p-1">Search Language Code</dt>
                        <dl class="col-sm-8 p-1">{{ attributes.language }}</dl>

                        <dt class="col-sm-4 p-1">Search Count</dt>
                        <dl class="col-sm-8 p-1">{{ attributes.number_of_results }}</dl>

                        <dt class="col-sm-4 p-1">Offset</dt>
                        <dl class="col-sm-8 p-1">{{ attributes.offset }}</dl>
                    </dl>
                </div>
                <div class="col-md-6 card-border border border-info rounded">
                    <h3 class="jumbotron-heading text-center">Defined Phrases: </h3>
                    {% for phrase in phrases %}
                        <li class="jumbotron-fluid text-center text-body">
                            <a class="text-info" href="{% url 'searchr_app:show_phrase' phrase.language phrase.slug %}">{{ phrase }}</a>
                        </li>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 border border-info rounded" >
                        <div class="row p-3">
                            <h3 class="jumbotron-heading text-center p-1">
                                Defined Tag Weights:
                            </h3>
                            <table class="table table-info table-bordered p-3">
                                <thead >
                                    <tr>
                                        <th scope="col">Title</th>
                                        <th scope="col">Header</th>
                                        <th scope="col">Main</th>
                                        <th scope="col">Footer</th>
                                        <th scope="col">Link</th>
                                        <th scope="col">Meta</th>
                                        <th scope="col">Other</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ tags.Title }}</td>
                                        <td>{{ tags.Header }}</td>
                                        <td>{{ tags.Main }}</td>
                                        <td>{{ tags.Footer }}</td>
                                        <td>{{ tags.Link }}</td>
                                        <td>{{ tags.Meta }}</td>
                                        <td>{{ tags.Other }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>

{#        Exact Query (DEbUG PURPOSES ONLY, REMOVE LATER: <br/>{{ search.query|escape }}<br/>#}

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true" >
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Do you want to delete search "{{ search.title|safe }}" ?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-body">
                            This action can't be undone!
                        </p>
                    </div>
                    <div class="modal-footer">
                        <form class="form" role="form" id="delete" method="post" action="#">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit" name="delete">Delete Search</button>
                        </form>
{#                        <button class="btn btn-danger" type="submit" name="delete">Delete</button>#}
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        {% if phrases %}

            {% if search.status != 'running' %}

                <div class="container align-left p-2">
                    <form action="{% url 'searchr_app:run_query' search.id %}" method="post">
                        {% csrf_token %}
                        <div class="btn-group p-1">
                            <button class="btn-primary btn" type="submit" name="submit" >Run Search</button>
                            <a class="btn btn-info" href="{% url 'searchr_app:history_view' project.user.username project.slug search.slug %}">History</a>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete Search</button>
                        </div>
                    </form>
                </div>

            {% else %}
                <div class="container " style="max-width: 100%">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-warning" role="alert">
                                <h4 class="jumbotron-heading text-center">
                                    Search is running. <br/>{{ search.running_results }} search results are still processed.
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form action="{% url 'searchr_app:run_query' search.id %}" method="post">
                            {% csrf_token %}
                            <div class="btn-group p-1">
                                <button class="btn-primary btn" type="submit" name="submit" disabled="disabled">Run Search</button>
                                <a class="btn btn-primary" href="{% url 'searchr_app:history_view' project.user.username project.slug search.slug %}">History</a>
                            </div>


                        </form>
                    </div>


                </div>

            {% endif %}

{#            <a class="btn-primary btn" method="post" href="{% url 'searchr_app:run_query' search.id %}">Run Search</a>#}
        {% else %}
            <h3 class="jumbotron-heading text-center">No defined phrases add one to start searching</h3>
        {% endif %}

        {% if search_results %}
            <div class="container p-4" style="max-width: 100%;">
                <div class="row align-items-center">
                    <div class="col-md-12" style="max-width: 100%;">
                        <div class="card">
                            <div class="card-header" style="background-color: #80bdff;">
                                <h3 class="jumbotron-heading text-center" >Search Results:</h3>
                            </div>
                            <div class="card-body p-2" style="max-width: 100%;">
                                <div class="w-100" style="width: 100%;">
                                    <table class="table table-light table-bordered table-hover" style="width: 100%; max-width: 100%;">
                                        <thead class="table-primary">
                                            <th scope="col">Page Title</th>
                                            <th scope="col">URL</th>
                                            <th scope="col">Date found</th>
                                            <th scope="col">Accuracy</th>
                                            <th scope="col">Status</th>
                                        </thead>
                                        <tbody>
                                            {% for search_result in search_results %}
                                                {% if search_result.status == 'finished' or search_result.status == 'finished_analyzed' %}
                                                    <tr class="d-table-row pb-5">
                                                        <th scope="row"><a class="btn-link" href="{% url 'searchr_app:search_result' search_result.id %}">{{ search_result.title|safe|escape  }}</a></th>
                                                        <td><a class="card-link" href="{{ search_result.url }}">{{ search_result.url|escape }}</a></td>
                                                        <td>{{ search_result.date_found }}</td>
                                                        <td>{{ search_result.accuracy|floatformat:3 }}</td>
                                                        <td>{{ search_result.get_status_display }}</td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
{#                                <ul class="list-group p-0">#}
{#                                    {% for search_result in search_results %}#}
{#                                        {% if search_result.status == 'finished' or search_result.status == 'finished_analyzed' %}#}
{##}
{#                                        <li class="list-group-item card p-0">#}
{#                                            <div class="card-header" >#}
{#                                                <a class="card-link" href="{% url 'searchr_app:search_result' search_result.id %}">{{ search_result.title|safe|escape  }}</a>#}
{##}
{#                                            </div>#}
{#                                            <div class="card-body p-3">#}
{#                                                <p style="background-color: red">TODO URL GO TO</p>#}
{#                                                URL: <a class="card-link" href="{{ search_result.url }}">{{ search_result.url }}</a><br/>#}
{#                                                Date found: {{ search_result.date_found }}<br/>#}
{#                                                Accuracy: {{ search_result.accuracy|floatformat:3 }}#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                </ul>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}
            <div class="container" style="max-width: 100%">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="card alert alert-primary">
                            <h3 class="jumbotron-heading text-center">No Search Results<br/>Try searching again or execute your first Search.</h3>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{%  endblock %}