{% extends 'searchr_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if phrase %}
        {{ phrase.value }}
    {% else  %}
        Unknown Phrase
    {% endif %}
{% endblock %}

{% block body_block %}

    <div class="jumbotron p-4">
        <div class="container">
            {% if phrase %}
            <h1 class="jumbotron-heading text-center">Phrase Value: <strong class="text-info">{{ phrase.value }}</strong></h1>
            {% else %}

                <h1 class="jumbotron-heading">The specified Phrase does not exist!</h1>
            {% endif %}
        </div>
    </div>

    {% if phrase %}
        <div class="container p-4">
            <div class="row">
                <div class=" col-md-12 card border border-info p-2">
                    <dl class="row p-0 card-text text-center">
                        <dt class="col-sm-6 p-1">Date Created</dt>
                        <dl class="col-sm-6 p-1">{{ phrase.date_created }}</dl>

                        <dt class="col-sm-6 p-1">Date Last Searched</dt>
                        <dl class="col-sm-6 p-1">{{ phrase.date_last_searched }}</dl>

                        <dt class="col-sm-6 p-1">Language of phrase</dt>
                        <dl class="col-sm-6 p-1">{{ phrase.get_language_display|capfirst|escape }}</dl>

{#                        <dt class="col-sm-4 p-1">Offset</dt>#}
{#                        <dl class="col-sm-8 p-1">{{ attributes.offset }}</dl>#}
                    </dl>
                </div>
            </div>
            <div class="row p-2">
                <div class=" col-md-12 card border border-info">
                    <div class="card-header "><h3 class="jumbotron-heading text-center">Keywords</h3></div>
                        {% if keywords %}
                            <ul class="list-group">
                                {% for kword in keywords %}
                                <li class="list-group-item">
                                    <div class="card-body">
                                        <p class="text-info">
                                            <h5 class="text-info text-center">
                                                {{ kword.keyword |capfirst }}
                                            </h5>
                                        </p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <strong>No Keywords found in phrase.</strong>

                        {% endif %}

                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}